.keyboardMenu {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 4;
  color: #000;
}

#modal,
#commandView {
  position: fixed;
  z-index: 10;
  background-color: #fff;
  border: 2px solid #000;
  padding: 9px 24px;
  left: 40%;
  top: 9%;
}

#commandView {
  padding: 4px 14px;
  padding-top: 10px;
  min-width: 347px;
}

#commandView ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  margin-top: 4px;
}

#commandView ul li {
  padding: 2px 8px;
  cursor: pointer;
}

#commandView input {
  width: 100%;
}

#commandView ul li:hover {
  background-color: #ccc;
}

.keyboard-shortcuts {
  list-style: none;
  line-height: 2.6rem;
}

kbd {
  border: 1px solid #ccc;
  background-color: #ccc;
  padding: 4px 9px;
  border-radius: 4px;
  text-align: center;
}

kbd + span {
  padding-left: 10px;
}
